amqp==2.2.1
appdirs==1.4.4
asgiref==3.2.10
astroid==2.4.2
beautifulsoup4==4.9.3
billiard==3.5.0.3
bs4==0.0.1
celery==4.1.0
certifi==2020.11.8
chardet==3.0.4
click==7.1.2
click-didyoumean==0.0.3
click-repl==0.1.6
colorama==0.4.3
comtypes==1.1.7
decorator==4.4.2
distlib==0.3.0
Django==3.1.6
django-celery-beat==1.0.1
django-ckeditor==6.0.0
django-classy-tags==2.0.0
django-crispy-forms==1.6.1
django-environ==0.4.5
django-js-asset==1.2.2
django-sekizai==2.0.0
django-test-plus==1.4.0
django-timezone-field==4.0
djangorestframework==3.12.1
factory-boy==3.1.0
Faker==4.17.1
filelock==3.0.12
foundation==0.1.0a0.dev1
gunicorn==20.1.0
httpie==2.3.0
idna==2.10
ipdb==0.13.4
sqlparse==0.3.1
ipython==4.2.1
ipython-genutils==0.2.0
isort==4.3.21
kombu==4.1.0
lazy-object-proxy==1.4.3
lxml==4.6.1
mccabe==0.6.1
numpy==1.19.4
olefile==0.44
one==0.2.1
panda==0.3.1
windowsapps==0.0.7
pandas==1.2.2
php==1.2.1
pickleshare==0.7.5
pillow==7.2.0
whitenoise==5.2.0
